@{
}

<div class="rounded-1 bg-white animate__animated animate__tada pt-5 pb-2 px-3">
    <h1>
        Registro efetuado com sucesso!
        <i class="bi bi-hand-thumbs-up-fill text-success"></i>
    </h1>
    <p class="mt-4 text-center">
        <a asp-controller="Registro" asp-action="Index" class="btn btn-lg btn-outline-success">Novo Registro</a>
    </p>
</div>
